.PostInput {
  display: block;
  width: 100%;
  height: 50px;
  border: none;
  font-size: 20px;
  opacity: 0.8;
  color: black;
}
#bannerImg {
  width: 100%;
  transition: 0.4;
}
.col-6 {
  border-left: 1px gray solid;
  border-right: 1px gray solid;
}
.PostInput {
}
.PostButton {
  display: block;
  width: 50%;
  left: 25%;
  position: relative;
  height: 50px;
  font-size: 20px;
  transition: 0.4s;
  border: 1px gray solid;
  border-radius: 5px;
}
.PostButton:hover {
  background-color: gray;
  left: 0;
  width: 100%;
  color: white;
}
.row {
  width: 100%;
}
#custom-button {
  padding: 10px;
  color: white;
  background-color: cacaca;
  opacity: 0.8;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
  width: 50%;
  left: 25%;
  bottom: 10px;
  position: relative;
  transition: 0.4s;
  color: black;
  font-size: 17px;
}

#custom-button:hover {
  opacity: 1;
  background-color: gray;
  color: white;
  left: 0;
  width: 100%;
}

#custom-text {
  margin-left: 10px;
  font-size: 15px;
  font-family: sans-serif;
  color: #aaa;
}
